/* Showcase */
#title {
  background-color: #ff4c68;
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  padding: 3% 15%;
}

#title .col-lg-6 h1 {
  font-weight: bolder;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 1.2rem;
}

.navlink {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

/* download buttons */
.row .header-text .btn {
  margin: 5% 3% 5% 0;
}

/* showcase image */
.row .col-lg-6 img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

/* Features */

#features {
  background: white;
  position: relative;
}

#features .row {
  padding: 4rem 0;
}

#features .feature-item {
  text-align: center;
  padding: 1rem;
}

#features .feature-item .icon {
  margin-bottom: 1rem;
  color: #ef8172;
}

#features .feature-item .icon:hover {
  color: #ff4c68;
}

#features .feature-item h3 {
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

#features .feature-item p {
  color: #afafaf;
}

/* Testimonials */

#testimonials {
  text-align: center;
  background: #ef8172;
  color: white;
}

#testimonials h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

#testimonials .testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press section */
#press {
  background: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#press img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 7% 15%;
}

#pricing .row {
  padding: 3% 2%;
}

#pricing .card {
  text-align: center;
  height: 380px;
}

#pricing .card-1 .btn,
#pricing .card-2 .btn {
  margin-top: 3.4rem;
}

.btn-pink {
  background-color: #ff4c68;
  color: white;
}

.btn-outline-pink {
  background-color: white;
  border-color: #ff4c68;
}

.btn-outline-pink:hover {
  background: #ff4c68;
  color: white;
}
